{% extends "/base.html" %}
{% set title = "International conference - WORLD PEACE THROUGH THE WORKS OF FR. PROF E.M.P. EDEH" %}

{% block carousel %}
<!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <img src="images/slide1.jpg" alt="World peace, peaceful sea view">
          <div class="container">
            <div class="carousel-caption">
              <h1>Invitation to the conference</h1>
              <p>
              	It is our great honor and pleasure to invite you to the International Conference<br>
		WORLD PEACE THROUGH THE WORKS OF FR. PROF E.M.P. EDEH
		</p>
              <p><a class="btn btn-lg btn-primary" href="#invitation" role="button">Read the invitation</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="images/jurisiceva.jpg" alt="Jurišićeva street in Zagreb, Croatia">
          <div class="container">
            <div class="carousel-caption">
              <h1>Venue in the heart of Zagreb.</h1>
              <p>
              	<a href="http://www.europe.hr/" target="_blank">Europe House</a>, Jurišićeva 1/1<br>
		Zagreb, The Capital of Croatia<br>
              </p>
              <p><a class="btn btn-lg btn-primary" href="#venue" role="button">Learn more</a></p>
            </div>
          </div>
        </div>
        
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->

{% endblock %}


{% block content %}
      <!-- FEATURETTES -->

      <div class="row featurette">
        <div class="col-md-7">
          <h2 id="invitation" class="featurette-heading">Invitation</h2>
		  <p class="lead">
		        It is our great honor and pleasure to invite you in the International Conference:<br>
			<em><b>WORLD PEACE THROUGH THE WORKS OF FR. PROF E.M.P. EDEH </b></em><br>
		</p>
			We promise you an interesthing and rich professional, intercultural and scientific program, as well as separated time for elective and relaxed gathering in the beautiful city of Zagreb.
			<br>With best regards and looking forward to seeing you in Zagreb.<br>
		
		<p>
			<em>
			
			<b>Prof. Dr. Miroslav Prstačić</b>, chairman, Croatia.<br>
			<b>Dr. Sharron Stroud</b>, President of World of International Foundation for World Peace and Research,<br> 
			Palm Springs, California, USA.
			</em>
			Note: 
			As we approache the Conference, the Conference website will be regularly updated.<br> 
			E-mail inquiries regarding the Conference programme can be addressed to <a href="mailto:hupohr@gmail.com">hupohr@gmail.com</a>
		</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="images/shroud_prstacic.png" alt="Dr. Sharron Stroud and Dr. Miroslav Prstačić">
        </div>
      </div>
      
      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 id="edeh" class="featurette-heading">Very Rev. Fr Prof. Emmanuel M.P. Edeh</h2>
		  <p class="lead">
		        MADONNA UNIVERSITY NIGERIA
          </p>
          <p>
          
            <ol>
                <li><b>Articulation of African Philosophy</b> of Being in which he developed the concept of man as "mma-di" (good that is) showing that peace is innate in man who is created and cared for by God, the ultimate Good. Man in reciprocity must care for fellow man thereby bringing peace to the modern world.</li>
                <li>Founder of the famous <b>Centre for Peace Justice and Reconciliation</b> which has settled over 14 million cases free of charge.</li>
                <li>Established <b>Medical Health Care Institutions</b> to bring healthcare to thousands in the society who cannot pay for medical services. Example: Madonna University Teaching Hospital Elele (MUTH), Our Saviour Hospital Elele, Medical Clinics in Okija, Akpugo, Enugu etc.</li>
                <li>Established <b>Umuogbenye Centre Elele</b> when abjectly poor and helpless people are properly fed and cared.</li>
                <li><b>Rehabilitation Centre</b> established 1986 where people are rehabilitated, introduced into self help projects and trained in various skills like making bread, pomade, wine, soap etc.</li>
                <li>Established the famous <b>Madonna International Charity Peace Award</b> (MICPA) in 2006.</li>
                <li><b>Educational establishments</b> - Viz: Nursery and Primary: a) 1986 - Our Saviour International School Elele,; b) 1997-Elizabeth Model Akpugo,;c) 1990-Our Saviour, Aba.;d) 1998 - Madonna Model Abuja; e) 2007 - Caritas Ibadan. Secondary Schools: a) 1990 - Our Saviour Girls' Aba.; b)1992- OSISATECH Boys, Enugu;c)1992-OSISATECH Girls, Enugu; d)Our Saviour International Schools Elele; e)Elizabeth Model School Akpugo;f)1998-Prestigious Madonna Art and Science Abuja;g)1998-Madonna Model, Abuja; h)2010-CaritasIbadan. Tertiary Institutions: a) 1989 - OSISATECH Polytechnic Enugu; b) 1989 - OSISATECH College of Education; c)1993 - Madonna University Nigeria; d)2004 - Caritas University Enugu.</li>
                <li>
                    Several awards conferred on Very Rev. Fr. Prof. Emmanuel M.P. Edeh C.S.Sp, OFR for example:<br>
                        a)	"<b>Ambassador for Peace</b>" by Federation Inter Religious and International Federation for World Peace.<br>
                        b)	"Rev. Fr. Edeh Day" Sunday September 24th 2006 proclaimed by Mayor
                        of City of Miami Gardens Florida, USA.<br>
                        c)	ZAFAA awards in London for his enormous contributions to Peace and
                        <b>Charity in Africa</b> and beyond…
                        
                </li>
                <li>Established the <b>Museum of Charms (Voodoo) and Fetish Objects</b> by which he collects and locked up millions of objects and evil creation used by bad people to harm fellow humans in various parts of the world thereby freeing millions of people from evil attacks thereby enabling peace to rain in the hearts of millions in this modern world.
                </li>
                <li>In the effort to perpetuate his <b>Mission of Practical and Effective Charity</b>, empowering millions of the youths through proper education, enabling the sick, abjectly poor and abandoned to have peace through all his establishments.
                </li>
                <li>Very Rev. Fr. Prof. Emmanuel M.P. Edeh C.S.Sp, OFR Founded four religious families, namely: a) <b>The Sisters of Jesus the Saviour</b>; b) <b>Fathers of Jesus the Saviour</b>; c) <b>Male Contemplatives of Jesus the Saviour</b>; d) <b>Female Contemplatives of Jesus the Saviour</b>.
                </li>
                <li>Through<b> The National Pilgrimage Elele</b>, Nigeria which is the largest in Africa and the 5th in the whole Christian World,  PEACE  continuously pured in the hearts of <b>thousands and millions of pilgrims who flock in the Centre</b> on daily, weekly and monthly basis.
                </li>
                <li>It is important to note that the eight point's agenda of the Millennium Developments Goals (MDGs) were already being fully implemented by Fr. Prof. Edeh almost <b>15 years ever before they were declared by the United Nations in 1998</b>.
                </li>
            </ol>
            
          </p>
          
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="images/edeh.jpg" alt="Very Rev. Prof. Edeh">
          <p>&nbsp;</p>
          <img class="featurette-image img-responsive" src="images/gallery2.jpg" alt="Edeh works preview">
          <p>&nbsp;</p>
          <img src="images/edeh_works.png" alt="Edeh's work" align="right" style="clear:both; max-width:100%;" />
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="images/conference.jpg" alt="Conference image">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading" id="conference">About the conference.</h2>
          <p class="lead">
          	The conference will be held in English, with consecutive Croatian translation.
          </p>
          <p>
          	During the Conference the Invited speakers from Nigeria, United States of America, United Kingdom, Germany, Croatia,...
          	will have the opportunity to express their point of view and present their research related to the principal theme on the Conference.
		</p>
		<p><em>
		Musical prelude and Art Perofmance<br>
		<b>Brigita Vilč</b> - Zagreb, Music Academy</em>
          </p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading" id="venue">Venue in the heart of Zagreb</h2>
          <p class="lead">
            The conference will be held in the heart of Zagreb, the capital of Croatia.
              	<img src="images/edz-150x150.jpg" align="right" />
            </p>
            <p>
                The venue is provided by the <b>
                    <a href="http://www.europe.hr/" target="_blank">Europe House</a></b>, in Jurišićeva 1/1<br><br>
                For more info you can contact the venue directly:
                <em>
                <a href="mailto:info@europe.hr">info@europe.hr</a><br>
                Directory: <a href="mailto:renata.bacic@europe.hr">renata.bacic@europe.hr</a><br>
                <a href="mailto:lana.djurcevic@europe.hr">lana.djurcevic@europe.hr</a>
                </em>
              </p>
        </div>
        <div class="col-md-5">
          <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/?ie=UTF8&amp;ll=45.812518,15.978757&amp;spn=0.001097,0.002283&amp;t=m&amp;z=19&amp;layer=c&amp;cbll=45.812518,15.978757&amp;panoid=7-7UyPFKrWzdi7HP9aRl6w&amp;cbp=12,323.51,,0,-5.92&amp;source=embed&amp;output=svembed"></iframe><br /><small><a href="https://maps.google.com/?ie=UTF8&amp;ll=45.812518,15.978757&amp;spn=0.001097,0.002283&amp;t=m&amp;z=19&amp;layer=c&amp;cbll=45.812518,15.978757&amp;panoid=7-7UyPFKrWzdi7HP9aRl6w&amp;cbp=12,323.51,,0,-5.92&amp;source=embed" style="color:#0000FF;text-align:left">See a larger map</a></small>
        </div>
      </div>
      
      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
            <img class="featurette-image img-responsive" src="images/euhome1.jpg" alt="Paper presentations logo">
            <p>&nbsp;</p>
            
            <img class="featurette-image img-responsive" src="images/paper.jpg" alt="Paper presentations logo">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading" id="paper">Paper presentation</h2>
          <p class="lead">
          	List of suggested sub-topics and speakers at the upcoming conferences 
in Medical school University of Istanbul-Turkey, Zagreb-Croatia and Washington DC-USA:
          </p>
          <p>
          	<ul>
                <li>Dr. Sharron Stroud, President of World of International Foundation for World Peace and Research 
                    (<a href="http://www.internationalfoundationforworldpeaceandresearch.com" target="_blank">www.internationalfoundationforworldpeaceandresearch.com</a>): World Peace and Mutual Understanding Through the Charity Peace Model.</li>
                <li>Fr Oliver Udaya: Real Peace to All People at the Pilgrimage Centre Elele- Nigeria</li>
                <li>Fr. Emeka Ezenwajiaku, a student in London: Articulation of African Philosophy and World Peace.</li>
                <li>Fr. Jude Nzeakor, a student in Essen, Germany: Edeh’s Servant Leadership Model and Peace in the Modern World.</li>
                <li>Dr. Daneschumand Hossein, Consultant Gynaecologist at the Madonna University Teaching Hospital, MUTH, Elele Nigeria: Gynaecological Unit of Madonna University Teaching Hospital.</li>
                <li>Dr. Velasco Gerard Yoyongco, Consultant Surgeon at MUTH, Nigeria: Surgery in Madonna University Teaching Hospital.</li>
                <li>Sr. Dr. Yves Iwuamadi, Administrator of Madonna University Teaching Hospital, MUTH, Elele Nigeria: Edeh’s Free Medical Treatment and Peace to Patients in MUTH.</li>
                <li>Fr. Michael Melladu, Chaplain at Madonna University Elele Main Campus: Maintaining Peace through the Establishment of Museum of Charms and Fetish objects.</li>
                <li>Fr. Oliver Udaya, Administrator of the National Pilgrimage Centre Elele: Real Peace to People at the Pilgrimage Centre Elele- Nigeria.</li>
                <li>Prof. E. C. Ezedum, Vice Chancellor, Madonna University, Nigeria: Peace in Edeh’s Educational Institutions. Prof. Dr. Miroslav Prstacic, President, Croatian Psychosocial Oncology Association ERF- University of Zagreb, Croatia: Some reflections of interculturality and holistic approach in the light of Prof. Edeh's Philosophy on Thought, Creativity and Peace.</li>
            </ul>
            
          </p>
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->
{% endblock %}

{% block footer %}
	<!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <!--<p>&copy; 2014 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>-->
      </footer>
{% endblock %}



